.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

.card {
    background-color: #adadac91;
    border: solid rgb(18, 129, 124);;
    width: 20em;
    height: 23em;
    border-radius: 20pt;
    margin-inline-end: 50pt;
    opacity: 1;
    margin: 30px;
    text-align: center;
    animation-name: card;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    /* display: flex;
    justify-content: center; */
}

@keyframes card {
    0%   {background-color: #adadac91;}
    20%  {background-color: #98f6a9c4;}
    40%  {background-color: #9bd3aecb;}
    60%  {background-color: #ffeebcbd}
    80% {background-color: #e2e3e7cb;}
    100% {background-color: #4afde8b2;}
}

.card:hover {
    background-color: rgba(42, 160, 27, 0.486);
}

.h2 {
    color: rgb(255, 252, 252);
    background-color: rgb(18, 129, 124);
    margin: 10pt auto;
    border-radius: 50pt;
    opacity: 0.9;
    width: 80%;
    font-variant:small-caps;
    text-decoration: none;
    font-size: 25px;
}

.h2:hover {
    background-color: black;
}

.img {
    margin-top: 10pt;
    border: solid;
    border-color: rgb(18, 129, 124);
    border-radius: 10%;
    height: 230px;
}

.link {
    text-decoration: none;
}