.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw;
    flex-wrap: wrap; */
}

.card {
    background-color: #adadac91;
    border: solid rgb(18, 129, 124);;
    width: 272px;
    height: 370px auto;
    border-radius: 10% 10% ;
    margin-inline-end: 50pt;
    opacity: 1;
    margin: 20px;
    text-align: center;
    animation-name: card;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* display: flex;
    justify-content: center; */
}

@keyframes card {
    0%   {background-color: #adadac91;}
    20%  {background-color: #86e3cdd7;}
    40%  {background-color: #d0e6a5ce;}
    60%  {background-color: #fefc97d7}
    80% {background-color: #fc887bda;}
    100% {background-color: #ccabdada;}
}

.card:hover {
    background-color: rgba(42, 160, 27, 0.486);
}

.h2 {
    color: white;
    background-color: rgb(18, 129, 124);
    margin: 10px auto;
    border-radius: 50pt;
    opacity: 0.9;
    width: 80%;
    font-variant:small-caps;
    text-decoration: none;
    font-size: 20px;
}

.h2:hover {
    background-color: black;
}

.img {
    /* margin-top: 10pt; */
    border: solid;
    border-color: rgba(18, 129, 123, 0.705);
    border-radius: 10% 10% 00% 00%;
    height: 134px;
}

.img:hover{
    height: 268px;
    transition-duration: 0.5s;
}

.link {
    text-decoration: none;
}