.div{
    /* background-color: rgba(18, 129, 123, 0.89);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border-radius: 30%;
    box-shadow: 0 0 100px #ffffff; */
    /* border: double 10px rgba(0, 0, 0, 0.871); */
    padding: 7px;
    margin: 40px;
    width: 300px;
    height: 200px;
    background-color: #f0e24a;
    border: double 10px rgba(11, 87, 83, 0.89);
    border-radius: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div:hover{
    /* border: solid 2px; */
    /* border-color: rgba(255, 254, 254, 0.308);
    box-shadow: 0 0 100px #a6f282; */
    /* border: solid 10px rgba(11, 87, 83, 0.89); */
    box-shadow: 0 0.1rem 0.4rem rgb(107, 105, 105)
}

.form {
    height: 85%;
    width: 85%;
    /* background-color: rgba(26, 90, 1, 0.705); */
    /* background: linear-gradient(rgba(26, 90, 1, 0.904),rgba(13, 100, 97, 0.89)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    /* border: solid 3px rgba(255, 255, 255, 0); */
}


/* .form:hover{
    background-color: #e9d713
} */

.inputs{
    margin: 5px;
    font-variant:small-caps;
    font-size: 15px;
    border: solid #ffffff;
    border-radius: 8pt;
}

.inputs:hover {
    /* border: solid black */
    box-shadow: 0 0.1rem 0.4rem rgb(107, 105, 105) 
}

.labels{
    margin: 5px;
    font-variant:small-caps;
    font-size:20px;
    color: #000000;
}


.login {
    height: 30px;
    margin: 5pt;
    font-variant:small-caps;
    font-size: 20px;
    color: #ffffff;
    background-color:rgba(18, 129, 123, 0.89);
    border-radius: 8pt;
    border: solid rgba(255, 255, 255, 0);
}

.login:hover {
    /* background-color: rgb(0, 0, 0); */
    /* border: solid rgb(0, 0, 0)  */
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgb(107, 105, 105)
}

.p {
    font-size: 10px;
    color: red;
}