.card {
    background-color: #adadac91;
    border: solid rgb(18, 129, 124);;
    width: 20em;
    height: 25em;
    border-radius: 50pt;
    margin-inline-end: 50pt;
    opacity: 1;
    margin: 30px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.card:hover {
    background-color: rgba(42, 160, 27, 0.486);
}

/* adadac91 */

.h2 {
    color: rgb(255, 252, 252);
    background-color: rgb(18, 129, 124);
    margin: 3pt auto;
    border-radius: 50pt;
    opacity: 0.9;
    width: 80%;
    font-variant:small-caps;
    text-decoration: none;
    font-size: 20px;
}

.h2:hover {
    background-color: black;
}

.img {
    margin-top: 20pt;
    border: solid;
    border-color: rgb(18, 129, 124);
    border-radius: 50%;
    height: 210px;
}

.button {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 5px;
    width: 30px;
    /* margin-right: 20px; */
}

.link {
    text-decoration: none;
}

.favorites {
    background-color: black;
    border-radius: 50%;
    margin: 5px;
}

.divButtons{
    display: flex;
    justify-content: space-around;
}
