.container{
    display: flex;
    justify-content: center;
    /* background-color: rgba(26, 90, 1, 0.39);
    border-radius: 50pt; */
    /* margin: 50px; */
    /* flex-direction: column; */
}


.divDescription {
    background-color: #d3dfe6b9;
    color: rgb(0, 0, 0);
    width: 500px;
    /* height: 500px; */
    padding: 40px;
    border-radius: 50pt;
    font-weight: 100;
    font-size: 20px;
}

.img {
    /* background-color: rgba(0, 0, 0, 0.829); */
    /* background-color: #ffffff6b; */
    border-radius: 40%;
    margin: 30px;
    height: 500px;
}

.h1 {
    color: rgb(0, 0, 0);
    font-size: 55px;
    /* background-color: #1b6f20; */
    border-radius: 10pt;
    font-weight: bold;
}